<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOOKS</title>
</head>
<body>

<h1>BOOKS</h1>

<div class="search-bar">

            <form action="{{ url_for('search') }}" method="POST">

                <select name="search_by">
                    <optgroup label="Search by">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                    </optgroup>
                </select>

                <input type="text" name="search" placeholder="Search Book">
                <input type="submit" value="Search">
            </form>
        </div>

        <div class="search-results">
            <table class="results-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Read</th>
                        <th>Rating</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.year }}</td>
                            <td>{{ book.price }}</td>
                            <td>
                                <a href="{{ url_for('book_description', book_id=book.id) }}">description</a>
                            </td>
                            <td>{{ book.read }}</td>
                            <td>{{ book.rating }}</td>
                            <td>
                                <form action="{{ url_for('remove_book') }}" method="POST">
                                    <input type="hidden" name="book_id" value="{{ book.id }}">
                                    <input type="submit" value="REMOVE">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>